{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nearby App | HT project</title>
    <meta name="description" content="Search nearby events and movies in your locality" />
    <meta name="keywords" content="geolocation search nearby events gurgaon delhi ncr movies" />
    <meta name="author" content="Piyush" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="{% static "css/stylesheets/b.css" %}" rel="stylesheet">
    <link href="{% static "css/stylesheets/freecharge.css" %}" rel="stylesheet">

    <script>
    var csrf_token = '{{ c.csrf_token }}';
    </script>

</head>

<body>

    <div class="wrapper">

        <header class="header custom-grid" id="user-account">
            <div class="main-head">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon-film"></span>
                        Nearby<strong>Trackr</strong></a>
                    </a>

                    {% if login %}
                    <ul class="user-account">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarAccountBtn">{{ request.session.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/profile">
                                        <i class="icon-profile"></i>
                                        <span class="user-account-text">Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/bookmarks/{{ request.session.fbid }}">
                                        <i class="icon-mycoupons"></i>
                                        <span class="user-account-text">My Events</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/{{event.id}}">
                                        <i class="icon-logout"></i>
                                        <span class="user-account-text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="login">
                        <li>
                            <a class="btn-sign-in sign-in" href="/login/fb" id="navbarLoginBtn">Login</a>
                        </li>
                    </ul>
                    {% endif %}

                    <ul class="main head">
                        <li style="list-style: none">
                            <a style="color:#ffe939;background-color:#333;"class="navbar-brand" href="/" id="navbarLoginBtn">Events</a>
                        </li>
                        <li style="list-style: none">
                            <a class="navbar-brand" href="/movies" id="navbarLoginBtn">Movies</a>
                        </li>
                    </ul>

                </div>
            </div>
        </header>

    <!-- The content of the page goes here -->
        <section class="content-body custom-grid" id="main"><div class="modal-wrp">
        <div class="modal-back"></div>
        <div class="height"></div>
    </div>    <div class="page payment fixed-grid">
        <div class="container">

            <div class="payment-wrapper">

                    <div class="row payment-summary-block payment-card">
                        <div class="col-md-12 payment-summary">
                            <div class="payment-summary-head">
                                <h4><b>{{event.title}}</b></h4>
                            </div>
                            <div class="payment-summary-content clearfix">
                        <div style="width: 30%;" class="payment-summary-recharge-info clearfix">
                            <span class=" payment-summary-recharge">
                                <span class="operatorInfo clearfix">
                                    <span class="serviceNumber">{{event.venue}}</span>
                                    <span class="operatorCircle">{{event.city}}, INDIA</span>
                                </span>
                            </span>
                        </div>
                        <div class="payment-summary-coupon-info clearfix">
                            <span class="coupon-summary">{{event.organizer}}</span>
                            (Organizer)
                        </div>
                        <div class="payment-summary-total clearfix">

                          <div id="unsub" {% if bookmark_check %} {% else %} style="display:none" {% endif %}>
                            <button onclick="unsubscribe()" class="btn btn-primary make-payment">UNSUBSCRIBE</button>
                          </div>

                          <div id="sub" {% if bookmark_check %} style="display:none" {% endif %}>
                            <button onclick="subscribe()" class="btn btn-secondary promo-reedem">SUBSCRIBE</button>
                          </div>

                        </div>
                            </div>
                        </div>
                    </div>

                    <div class="row promocode-block">
                            <div class="col-md-12 promocode clearfix">
                                <span style="font-size: 14.5px;" class="gray-text show-promo">
                                    {{event.description}}
                                </span>

                                <form class="promo-form" style="display:none;" action="javascript:void(0);" data-validate="parsley" role="form">
                                    <input name="freefundCode" id="freefundCode" class="payment-input input-large form-control freefund-input" placeholder="Enter freefund code / promocode code" data-trigger="blur" data-focus="none" data-required="true" data-error-container=".promo-error" type="text">
                                    <button class="btn btn-secondary promo-reedem" id="redeemButton">Redeem Now</button>
                                    <div id="captcha-placement-div">
                                        <div id="captcha-draw-div"></div>
                                        <input id="captchaText" name="captcha" type="text">
                                    </div>
                                    <div class="freefund-code-error promo-error pay-error"></div>
                                    <div class="col-md-12 promocode-success clearfix">
                                        <span class="promo-success-message">

                                        </span>
                                    </div>
                                </form>
                            </div>
                    </div>



                    <div class="row payment-options-block payment-card">
                        <div class="col-md-12 payment-options clearfix">
                            <ul class="payment-option-type">
                                    <li class="active" data-payment-option-name="Debit Card">Friends who are attending the event<i class="chevron"></i></li>
                                    {% for bookmark in bookmarks %}
                                    <li>{{bookmark.user.name}}</li>
                                    {% endfor %}
                            </ul>
                            <div class="payment-option clearfix" id="paymentFormContainer">
    <div style="width: 30%;" class="payment-form-emblem">
        <span style="font-size: 18px;">Timing: <strong>Aug. 22, 2014 , 8 a.m.</strong></span>
    </div></div>
                        </div>

                    </div>

                <div class="row payment-block">
                    <div class="col-md-12 pay-strip clearfix">
                        <div class="security-logos">
                            <div class="nav-security">
                            </div>
                        </div>
                        <div class="payment-action">
                            <div class="summary-block">
                                <div class="total">
                                    <span class="gray-text">Data provided by</span>
                                    <strong class="pay-amount">
                                        <span id="totalCartPrice">{{event.api_vendor}}</span>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


            <!-- The footer section -->
            <footer class="footer custom-grid">
                <div class="footer-one">
                    <p class="copyright" id="so">© 2014, HT Project.</p>
                </div>
            </footer>

        </div>
    </section>

<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/singlepage/lib/bootstrap.3.0.3.min.js"></script>

<script>



function unsubscribe()
{



var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
     document.getElementById("unsub").style.display = 'none';
  document.getElementById("sub").style.display = 'block';
   }
  }


xmlhttp.open("POST","http://3412768d.ngrok.com/bookmarks/unset/{{request.session.fbid}}/{{ event.id }}/",true);
xmlhttp.setRequestHeader("X-CSRFToken", csrf_token);
xmlhttp.send();
}



function subscribe()
{


var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
      document.getElementById("sub").style.display = 'none';
  document.getElementById("unsub").style.display = 'block';
    }
  }


xmlhttp.open("POST","http://3412768d.ngrok.com/bookmarks/set/{{ request.session.fbid }}/{{ event.id }}/",true);
xmlhttp.setRequestHeader("X-CSRFToken", csrf_token);
xmlhttp.send();
}

</script>




</body>
</html>
