{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Events | Nearby App | HT project</title>
    <meta name="description" content="Search nearby events and movies in your locality" />
    <meta name="keywords" content="geolocation search nearby events gurgaon delhi ncr movies" />
    <meta name="author" content="Piyush" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="{% static "css/stylesheets/b.css" %}" rel="stylesheet">
    <link href="{% static "css/stylesheets/freecharge.css" %}" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

        <header class="header custom-grid" id="user-account">
            <div class="main-head">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon-film"></span>
                        Nearby<strong>Trackr</strong></a>
                    </a>

                    {% if login %}
                    <ul class="user-account">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarAccountBtn">{{ request.session.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/profile">
                                        <i class="icon-profile"></i>
                                        <span class="user-account-text">Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/bookmarks/{{ request.session.fbid }}">
                                        <i class="icon-mycoupons"></i>
                                        <span class="user-account-text">My Events</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/home">
                                        <i class="icon-logout"></i>
                                        <span class="user-account-text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="login">
                        <li>
                            <a class="btn-sign-in sign-in" href="/login/fb" id="navbarLoginBtn">Login</a>
                        </li>
                    </ul>
                    {% endif %}

                    <ul class="main head">
                        <li style="list-style: none">
                            <a style="color:#ffe939;background-color:#333;"class="navbar-brand" href="/" id="navbarLoginBtn">Events</a>
                        </li>
                        <li style="list-style: none">
                            <a class="navbar-brand" href="/movies" id="navbarLoginBtn">Movies</a>
                        </li>
                    </ul>

                </div>
            </div>
        </header>

    <!-- The content of the page goes here -->
        <section class="content-body custom-grid" id="main"><div class="page custom-grid page-slide-up">
            <div class="fixed-nav coupon-page-header affix-top" id="fixed-nav">
                <div class="container">
                    <div class="coupon-page-header-text">
                        <h3>Your location is identified</h3>
                            <p>Please give the access</p>
                    </div>
                    <div class="coupon-page-header-button">
                        <button id="couponContinue" class="btn btn-primary">Get Location<span class="three-quarters"></span></button>
                    </div>
                </div>
            </div>

            <div class="container coupon-block">

                <div class="row">

                    <div class="coupons" style="margin-left: 0px;">
                        {% if bookmark %}
                        {% for bookmark in bookmarks %}
                        <div class="coupon">
                            <a href="/events/{{bookmark.event_id}}">

                            <div class="image">
                                <img src="http://1.bp.blogspot.com/_VAvYqcucs3w/TI5-NKMkcSI/AAAAAAAAAMI/PZDqz7gAP28/s1600/my%2Bevent%2Bsmall.jpg" width="200" height="135">
                            </div>
                        </a>
                            <a class="btn btn-special coupon-pick-button btn-secondary" href="/events/{{bookmark.event_id}}" >DETAILS</a>

                            <p class="description">{{bookmark.event_name}} </p>
                            <div class="details">
                            </div>
                            <div class="info clearfix">
                                <div class="left">
                                    <span class="save-text">Date</span>
                                    <p class="price">{{bookmark.date}}</p>
                                </div>
                                <div class="right">
                                    <p class="expiry"><span>Time</span> {{bookmark.time}}</p>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                        {% else %}
                        <h2>No Bookmark Exists!</h2>
                        {% endif %}


                    </div>
                </div>
            </div>


            <!-- The footer section -->
            <footer class="footer custom-grid">
                <div class="footer-one">
                    <p class="copyright" id="so">© 2014, HT Project.</p>
                </div>
            </footer>

        </div>
    </section>

<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/singlepage/lib/bootstrap.3.0.3.min.js"></script>




</body>
</html>
