{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nearby App | HT project</title>
    <meta name="description" content="Search nearby events and movies in your locality" />
    <meta name="keywords" content="geolocation search nearby events gurgaon delhi ncr movies" />
    <meta name="author" content="Piyush" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="{% static "css/stylesheets/b.css" %}" rel="stylesheet">
    <link href="{% static "css/stylesheets/main.css" %}" rel="stylesheet">
    <script>
    var csrf_token = '{{ d.csrf_token }}';
    </script>

</head>

<body>

<style>
.body{
background: #F9F9F9;
}

.bookmarkButton{float:right; font-size:14px;border: rgb(233, 229, 236); border-style: solid;border-radius: 8px;padding: 3px;opacity: 0.9; cursor:pointer}
.subscribe {
  background: rgb(107, 184, 100);
}
.unSubscribe {
  background:rgb(230, 121, 121);
}

h1{
text-align:center;
top:30px;
position: relative;
font-size: 36px;
line-height: 40px;
margin: 0;
position: relative;
font-weight: 300;
color: #C91622;
padding: 5px 0px;
text-shadow: 1px 1px 0px #F2F2F2, 1px 2px 0px #B1B1B2;
font-family: 'KenyanCoffeeRg-Regular';
height:70px;
}

.btn_back{
font-size: 23px;
white-space: nowrap;
text-align: center;
width: 180px;
margin: 0 0 25px 0px;
line-height: 20px;
display: inline-block;
text-decoration: none;
padding: 12px 10px;
border: 1px solid #DEDEDE;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px 3px 3px 3px;
cursor: pointer;
background: #C91622;
background: -moz-linear-gradient(top,
#C91622 0%,
#E24751 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,
#C91622), color-stop(100%,
#E24751));
background: -webkit-linear-gradient(top,
#C91622 0%,
#E24751 100%);
background: -o-linear-gradient(top,
#C91622 0%,
#E24751 100%);
background: -ms-linear-gradient(top,
#C91622 0%,
#E24751 100%);
background: linear-gradient(top,
#C91622 0%,
#E24751 100%);
border-color: #AC0813 #AC0813 #AC0813;
color: white;
position: relative;
text-shadow: 0 1px 0
#1D4A5F;
-webkit-box-shadow: 0 1px 1px lightGrey, inset 0 1px 0 #78AFCE;
-moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #78afce;
box-shadow: 0 1px 1px lightGrey, inset 0 1px 0 #78AFCE;
height:20px;
}
.container{
    display:table;
    width:50%;
    border-collapse: collapse;
    margin: 0 auto;

   table-layout: fixed;
    }
 .heading{
     font-weight: bold;
     display:table-row;
     background-color:#C91622;
     text-align: center;
     line-height: 25px;
     font-size: 14px;
     font-family:georgia;
     color:#fff;

 }
 .table-row{
     display:table-row;
     text-align: center;
 }
 .col{
    display:table-cell;
    border: 1px solid #CCC;
 }
</style>

    <div class="wrapper">

        <header class="header custom-grid" id="user-account">
            <div class="main-head">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon-film"></span>
                        Nearby<strong>Trackr</strong></a>
                    </a>

                    {% if login %}
                    <ul class="user-account">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarAccountBtn">{{ request.session.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/profile">
                                        <i class="icon-profile"></i>
                                        <span class="user-account-text">Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/bookmarks/{{ request.session.fbid }}">
                                        <i class="icon-mycoupons"></i>
                                        <span class="user-account-text">My Events</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/movies">
                                        <i class="icon-logout"></i>
                                        <span class="user-account-text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="login">
                        <li>
                            <a class="btn-sign-in sign-in" href="/login/fb" id="navbarLoginBtn">Login</a>
                        </li>
                    </ul>
                    {% endif %}

                    <ul class="main head">
                        <li style="list-style: none">
                            <a class="navbar-brand" href="/" id="navbarLoginBtn">Events</a>
                        </li>
                        <li style="list-style: none">
                            <a style="color:#ffe939;background-color:#333;" class="navbar-brand" href="/movies" id="navbarLoginBtn">Movies</a>
                        </li>
                    </ul>

                </div>
            </div>
        </header>

    <!-- The content of the page goes here -->
        <section class="content-body custom-grid" id="main"><div class="page custom-grid page-slide-up">
            <div class="fixed-nav coupon-page-header affix-top" id="fixed-nav">
                <div class="container">
                    <div class="coupon-page-header-text">
                        <h3>Your location is identified</h3>
                            <p>Please give the access</p>
                    </div>
                    <div class="coupon-page-header-button">
                        <button id="couponContinue" class="btn btn-primary">Get Location<span class="three-quarters"></span></button>
                    </div>
                </div>
            </div>

            <div class="container coupon-block">

                <div class="row">

                    <div class="coupons" style="margin-left: 0px;">

                        <div class="panel-heading" style="font-size:20px;">
        Movies

    </div>
    {% if login %}
    <div id="bookmarkButton" class="bookmarkButton subscribe">Bookmark this theatre</div>
    {% else %}
    <div class="bookmarkButton subscribe">Login to bookmark</div>
    {% endif %}
    </div>
    <div class="order by" style="padding:10px; padding-top:25px;">

            <span >Select theater :
        <select name="theater" id="theater" >
            <option value="default">SELECT THEATER</option>
          {% for th in theaters %}
            <option value="/api/movies?format=json&theater={{th.theater}}">{{th.theater}}</option>
          {% endfor %}
         </select>
         </span>


         <span style="float:right;">  Select movie :
         <select name="movie" id="movie" >
            <option value="default">SELECT MOVIE</option>
          {% for mo in movietitle %}
            <option value="/api/movies?format=json&title={{mo.title}}">{{mo.title}}</option>
          {% endfor %}
         </select>
         </span>

    </div>
    <div class="panel-body">
      <div class="row show-list">
        <div class="container" id="movie_listing">
            <div class="heading">
                <div class="col">Theater</div>
                <div class="col">Movie</div>
                <div class="col">Gener</div>
                <div class="col">venue</div>
                <div class="col">City</div>
                <div class="col">Date</div>
                <div class="col">timing</div>
            </div>
        {% for movie in movies %}

            <div class="table-row">
                 <div class="col">{{movie.theater}}</div>
                 <div class="col">{{movie.title}}</div>
                 <div class="col">{{movie.category}}</div>
                <div class="col">{{movie.venue}}</div>
                 <div class="col">{{movie.city}}</div>
                 <div class="col">{{movie.date}}</div>
                 <div class="col">{{movie.timing}}</div>
           </div>



        {% endfor %}
        </div>
      </div>
    </div>

                    </div>
                </div>
            </div>


            <!-- The footer section -->
            <footer class="footer custom-grid">
                <div class="footer-one">
                    <p class="copyright" id="so">© 2014, HT Project.</p>
                </div>
            </footer>

        </div>
    </section>

<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/singlepage/lib/bootstrap.3.0.3.min.js"></script>

<script type="text/javascript">

var subscribedTheatres = [];
  {% for item in subscribedTheatres %}
  subscribedTheatres.push("{{ item }}");
  {% endfor %}

  var bookmark_button = document.getElementById( 'bookmarkButton' );
  bookmark_button.onclick = function() {

  var elt = document.getElementById( 'theater' );
  var theatre_name = elt.options[elt.selectedIndex].text;
  //var fbid = 1;

  //alert(theatre_name+" "+fbid);






  if(bookmark_button.className == "bookmarkButton unSubscribe"){
       url = "http://3412768d.ngrok.com/bookmark_movies/unset/{{ request.session.fbid }}/"+theatre_name+"/";
  }
  else
  {
     url = "http://3412768d.ngrok.com/bookmark_movies/set/{{ request.session.fbid }}/"+theatre_name+"/";
  }

  //alert(theatre_name);

  var xmlhttp;
      if (window.XMLHttpRequest)
      {// code for IE7+, Firefox, Chrome, Opera, Safari
          xmlhttp=new XMLHttpRequest();
      }
      else
      {// code for IE6, IE5
          xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function()
      {
        if (xmlhttp.readyState==4 && xmlhttp.status==200){
            if(bookmark_button.className == "bookmarkButton unSubscribe"){
                 bookmark_button.innerHTML = "Bookmark this theatre";
                 bookmark_button.className = "bookmarkButton subscribe";
                 //url = "http://3412768d.ngrok.com/bookmark_movies/unset/{{ request.session.fbid }}/"+theatre_name+"/";
              }
              else
              {
                 bookmark_button.innerHTML = "Remove bookmark";
                 bookmark_button.className = "bookmarkButton unSubscribe";
                 //url = "http://3412768d.ngrok.com/bookmark_movies/set/{{ request.session.fbid }}/"+theatre_name+"/";
              }

          }
      }
      xmlhttp.open("POST",url,true);
      //alert(csrf_token);
      xmlhttp.setRequestHeader("X-CSRFToken", csrf_token);
      xmlhttp.send();


}


 var movie_select = document.getElementById( 'movie' );
 movie_select.onchange = function() {

    //document.getElementById("theater").getElementsByTagName('option')[0].selected ='selected';
    document.getElementById("theater").value ='default';

    url = this.options[ this.selectedIndex ].value ;
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            jsonResponse = xmlhttp.responseText;
            //alert(jsonResponse)
            json = JSON.parse(jsonResponse);

            var objJSON = eval("(function(){return " + jsonResponse + ";})()");

            //alert(json)
            //alert(objJSON)

            var child = document.getElementsByClassName("table-row");
            var parent = document.getElementById("movie_listing");

            //var parent = child.parentNode;
            //alert(parent.className);

            var header;
            while (parent.firstChild) {

              parent.removeChild(parent.firstChild);

            }


            var node = document.createElement("div");
            node.setAttribute("class","heading");

            var head = ['Theater','Genre','Venue  ','City','Timing','Date']

            for(var i=0; i<6;i++){
                td = document.createElement("div");
                td.setAttribute("class","col");
                td.innerHTML = head[i]
                node.appendChild(td);

            }

            parent.appendChild(node);



            var node,td;

            for(key in objJSON){

              node = document.createElement("div");
              node.setAttribute("class","table-row");

              for(k in objJSON[key]){
                  //console.log(k)

                  if(k=="title")continue;
                  td = document.createElement("div");
                  td.setAttribute("class","col");
                  td.innerHTML = objJSON[key][k]
                  node.appendChild(td);

                }

                parent.appendChild(node);

            }

        }
    }
    xmlhttp.open("GET",url,true);
    xmlhttp.send();

 };


 var theatre_select = document.getElementById( 'theater' );
 theatre_select.onchange = function() {

    var theatre_name = theatre_select.options[theatre_select.selectedIndex].text;
    var bookmark_button = document.getElementById( 'bookmarkButton' );

    if(subscribedTheatres.indexOf(theatre_name) > 0){
      //alert("Hi");
      bookmark_button.innerHTML = "Remove bookmark";
      bookmark_button.className = "bookmarkButton unSubscribe";
    }
    else{
      bookmark_button.innerHTML = "Bookmark this theatre";
      bookmark_button.className = "bookmarkButton subscribe";
    }

    document.getElementById("movie").value ='default';

    url = this.options[ this.selectedIndex ].value ;
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            jsonResponse = xmlhttp.responseText;
            //alert(jsonResponse)
            json = JSON.parse(jsonResponse);

            var objJSON = eval("(function(){return " + jsonResponse + ";})()");

            //alert(json)
            //alert(objJSON)

            var child = document.getElementsByClassName("table-row");
            var parent = document.getElementById("movie_listing");

            //var parent = child.parentNode;
            //alert(parent.className);

            var header;
            while (parent.firstChild) {

              parent.removeChild(parent.firstChild);

            }


            var node = document.createElement("div");
            node.setAttribute("class","heading");

            var head = ['Movie','Genre','Venue  ','City','Date','Timing']

            for(var i=0; i<6;i++){
                td = document.createElement("div");
                td.setAttribute("class","col");
                td.innerHTML = head[i]
                node.appendChild(td);

            }

            parent.appendChild(node);



            var node,td;

            for(key in objJSON){

              node = document.createElement("div");
              node.setAttribute("class","table-row");

              for(k in objJSON[key]){
                  //console.log(k)
                  if(k=="theater")continue;
                  td = document.createElement("div");
                  td.setAttribute("class","col");
                  td.innerHTML = objJSON[key][k]
                  node.appendChild(td);

                }

                parent.appendChild(node);

            }

        }
    }
    xmlhttp.open("GET",url,true);
    xmlhttp.send();

 };
</script>



</body>
</html>
