{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nearby App | HT project</title>
    <meta name="description" content="Search nearby events and movies in your locality" />
    <meta name="keywords" content="geolocation search nearby events gurgaon delhi ncr movies" />
    <meta name="author" content="Piyush" />
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link href="{% static "css/stylesheets/b.css" %}" rel="stylesheet">
    <link href="{% static "css/stylesheets/main.css" %}" rel="stylesheet">

</head>

<body>

    <div class="wrapper">

        <header class="header custom-grid" id="user-account">
            <div class="main-head">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <span class="glyphicon glyphicon-film"></span>
                        Nearby<strong>Trackr</strong></a>
                    </a>

                    {% if login %}
                    <ul class="user-account">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="navbarAccountBtn">{{ request.session.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>
                                    <a href="/profile">
                                        <i class="icon-profile"></i>
                                        <span class="user-account-text">Profile</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="/bookmarks/{{ request.session.fbid }}">
                                        <i class="icon-mycoupons"></i>
                                        <span class="user-account-text">My Events</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout/home">
                                        <i class="icon-logout"></i>
                                        <span class="user-account-text">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    {% else %}
                    <ul class="login">
                        <li>
                            <a class="btn-sign-in sign-in" href="/login/fb" id="navbarLoginBtn">Login</a>
                        </li>
                    </ul>
                    {% endif %}

                    <ul class="main head">
                        <li style="list-style: none">
                            <a style="color:#ffe939;background-color:#333;"class="navbar-brand" href="/" id="navbarLoginBtn">Events</a>
                        </li>
                        <li style="list-style: none">
                            <a class="navbar-brand" href="/movies" id="navbarLoginBtn">Movies</a>
                        </li>
                    </ul>

                </div>
            </div>
        </header>

    <!-- The content of the page goes here -->
        <section class="content-body custom-grid" id="main"><div class="page custom-grid page-slide-up">
            <div class="fixed-nav coupon-page-header affix-top" id="fixed-nav">
                <div class="container">
                    <div class="coupon-page-header-text">
                        <h3 id="loc">Please share your location!</h3>
                    </div>
                    <div>
                        <input type="text" onkeydown="if (event.keyCode == 13) searchCities()" id="city_name" name="city" size="21" maxlength="120"  placeholder="Search..." class="form-control integer parsley-validated" id="btnSearch">
                    </div>
                    <div class="coupon-page-header-button">
                        <button onclick="getLocation()" class="btn btn-primary">Get Location</button>
                    </div>
                </div>
            </div>

            <div class="container coupon-block">

                <div class="row">
                    <div class="sidebar">

                        <div class="filter-category">
                            <h5><i class="icon-coupon-category-All effect-icon"></i><span>Categories</span><a href="javascript:void(0)" class="select-all">Select All</a></h5>
                            <ul>
                                {% for category in categories %}
                                <li class="checkbox">
                                    <label>
                                        <input name="Food" value="Food" checked="" data-category-detail="" data-category-name="Food" data-category-id="1" type="checkbox">{{category.category}}

                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="coupons" id="trigger">
                        {% for event in events %}
                        <div class="coupon">
                            <a href="/events/{{event.id}}">

                            <div class="image">
                                <img src="{% if event.image == None or event.image == 'None' or event.image == 'none' %}http://cdn.panasonic.com/images/imageNotFound400.jpg{% else %}{{event.image}}{% endif %}" width="200" height="135">
                            </div>
                        </a>
                            <a class="btn btn-special coupon-pick-button btn-secondary" href="/events/{{event.id}}" >DETAILS</a>

                            <p class="description">{{event.title}} </p>
                            <div class="details">
                            </div>
                            <div class="info clearfix">
                                <div class="left">
                                    <span class="save-text">CITY</span>
                                    <p class="price">{{event.city}}</p>
                                </div>
                                <div class="right">
                                    <p class="expiry"><span>Date</span> {{event.event_date}}</p>
                                </div>
                            </div>

                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>


            <!-- The footer section -->
            <footer class="footer custom-grid">
                <div class="footer-one">
                    <p class="copyright" id="so">© 2014, HT Project.</p>
                </div>
            </footer>

        </div>
    </section>

<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://d2s1ih2yipot4l.cloudfront.net/content/js/singlepage/lib/bootstrap.3.0.3.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

    function searchCities(){
        //alert();
        city_name = document.getElementById("city_name").value
        show(city_name);
    }


    var x = document.getElementById('loc')

    function getLocation()
    {
        //show("Gurgaon");

        if (navigator.geolocation)
        {
                navigator.geolocation.getCurrentPosition(showPosition);
            }
        else
        {
                    x.innerHTML = "Geolocation is not supported by this browser.";
            }
    }
    var geocoder;
    function showPosition(position)
    {

        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(lat, lng);
            //alert(lat+" "+lng)
            geocoder.geocode({'latLng': latlng}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK)
            {

                console.log(results)
                if (results[1])
                {

                    for (var i=0; i<results[4].address_components.length; i++)
                    {
                        for (var b=0;b<results[4].address_components[i].types.length;b++)
                        {

                            if (results[4].address_components[i].types[b] == "locality")
                                {

                                    city= results[4].address_components[i];
                                    break;
                                }
                        }
                    }
                //city data
                    x.innerHTML = city.long_name;
                    //alert('re');
                    show(city.long_name)
                }
                else
                {
                    alert("No results found");
                }
            }
            else
            {
                alert("Geocoder failed due to: " + status);
            }
        });
    }




    function show(str)
    {

        var xmlhttp;

        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari

            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }

        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {

                //document.getElementById("trigger").innerHTML=xmlhttp.responseText;
                jsonResponse = xmlhttp.responseText;
                //alert(jsonResponse)
                json = JSON.parse(jsonResponse);
                var objJSON = eval("(function(){return " + jsonResponse + ";})()");
                //alert(json)
                //alert(objJSON)
                var child = document.getElementsByClassName("coupon");
                var parent = document.getElementById("trigger");
                //var parent = child.parentNode;
                //alert(parent.firstChild);


                while (parent.firstChild) {
                    parent.removeChild(parent.firstChild);
                    //alert("Hi");
                }

                var node,tr,tr1,tr2,tr3,tr4,tr5,tr6,tr7,td,td1,td2,td3,td4,td5,td6;
                for(key in objJSON){
                    node = document.createElement("div");
                    node.setAttribute("class","coupon");
                    tr = document.createElement("a");
                    tr.setAttribute("class","btn btn-special coupon-pick-button btn-secondary");
                    tr.innerHTML = "DETAILS"
                    tr1 = document.createElement("p");
                    tr2 = document.createElement("div");
                    tr2.setAttribute("class","details");
                    tr3 = document.createElement("div");
                    tr3.setAttribute("class","info clearfix");
                    tr4 = document.createElement("div");
                    tr4.setAttribute("class","left");
                    tr5 = document.createElement("div");
                    tr5.setAttribute("class","right");

                    tr6 = document.createElement("div");
                    tr6.setAttribute("class","image");

                    tr7 = document.createElement("a");

                    //tr1.setAttribute("class","description");
                    for(k in objJSON[key]){
                        if (k == "id") {
                            tr7.setAttribute("href","/events/"+objJSON[key][k]);
                        }

                        if (k == "image") {
                            //console.log(k)
                            td5 = document.createElement("img");
                            if(objJSON[key][k] == "None" || objJSON[key][k] == "none" || objJSON[key][k] == null) {
                                td5.setAttribute("src","http://cdn.panasonic.com/images/imageNotFound400.jpg");
                            }
                            else{
                                td5.setAttribute("src",objJSON[key][k]);
                            }
                            td5.setAttribute("width","200");
                            td5.setAttribute("heigth","135");

                            tr6.appendChild(td5);
                        }

                        if (k == "title") {
                            //console.log(k)
                            td = document.createElement("p");
                            td.setAttribute("class","description");

                            td.innerHTML = objJSON[key][k]
                            tr1.appendChild(td);
                        }

                        if (k == "city") {

                            td1 = document.createElement("span");
                            td1.setAttribute("class","save-text");
                            td1.innerHTML = "CITY"
                            td2 = document.createElement("p");
                            td2.setAttribute("class","price");
                            td2.innerHTML = objJSON[key][k]
                            tr4.appendChild(td1);
                            tr4.appendChild(td2);
                        }

                        if (k == "event_date") {

                            td3 = document.createElement("p");
                            td3.setAttribute("class","expiry");
                            td4 = document.createElement("span");
                            td4.innerHTML = "DATE";
                            td6 = document.createElement("p");
                            td6.innerHTML = objJSON[key][k]

                            td3.appendChild(td4);
                            td3.appendChild(td6);
                            //tr5.appendChild(td4);
                            tr5.appendChild(td3);

                        }

                        tr3.appendChild(tr4);
                        tr3.appendChild(tr5);

                        tr7.appendChild(tr6);

                        node.appendChild(tr7);
                        node.appendChild(tr);
                        node.appendChild(tr1);
                        node.appendChild(tr2);
                        node.appendChild(tr3);
                     }
                    parent.appendChild(node);
                }
            }
        }

    xmlhttp.open("GET","http://127.0.0.1:8000/api/events?city="+str+"&format=json",true);
    xmlhttp.send();

    }


</script>




</body>
</html>
